In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Ecommerce Purchases')

In [3]:
data

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3807,"48419 James Villages\nCharlesside, MN 05281",16 Od,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_0 like M...,Gray Group,3158950215096082,02/17,42,American Express,conniemyers@dixon-hoover.biz,Plant breeder/geneticist,185.183.203.158,es,70.32
3808,"41420 Morgan Square\nNew Sylviaton, NH 91906",04 lg,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_3 like M...,Sanchez-Pugh,30144466817368,02/24,660,Maestro,bradleywilliam@pineda-buchanan.com,Environmental health practitioner,20.125.230.98,pt,8.30
3809,"308 Dixon Fords Suite 923\nNicoleton, MH 45145",52 YN,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_8)...,"Graham, Walker and Frazier",869929666344262,04/24,262,JCB 16 digit,laurengill@hotmail.com,Hotel manager,206.199.193.146,fr,3.73
3810,"7016 Richard Center Apt. 216\nNew Paulburgh, C...",53 WU,AM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_8_4; r...,"Kim, Harris and Lee",3528700667851234,11/18,435,American Express,balljessica@yahoo.com,"Engineer, communications",33.68.160.144,zh,49.73
3811,"625 Mclaughlin Inlet Apt. 375\nSouth Ruben, CO...",94 he,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows CE;...,Banks Group,869974335345498,01/22,457,Voyager,simmonsmelanie@gmail.com,Multimedia specialist,88.14.181.,NaN,NaN

In [4]:
data.head(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25
8,"2129 Dylan Burg\nNew Michelle, ME 28650",45 JN,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Galloway and Sons,180041795790001,04/24,899,JCB 16 digit,kdavis@rasmussen.com,Financial manager,146.234.201.229,ru,59.54
9,"3795 Dawson Extensions\nLake Tinafort, ID 88739",15 Ug,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...,"Rivera, Buchanan and Ramirez",4396283918371,01/17,931,American Express,qcoleman@hunt-huerta.com,Forensic scientist,236.198.199.8,zh,95.63

In [5]:
data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [6]:
data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            1
Purchase Price      1
dtype: int64

In [7]:
data.size()

TypeError: 'int' object is not callable

In [8]:
data.size

53368

In [9]:
data.shape()

TypeError: 'tuple' object is not callable

In [10]:
data.shape

(3812, 14)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3812 entries, 0 to 3811
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           3812 non-null   object
 1   Lot               3812 non-null   object
 2   AM or PM          3812 non-null   object
 3   Browser Info      3812 non-null   object
 4   Company           3812 non-null   object
 5   Credit Card       3812 non-null   int64
 6   CC Exp Date       3812 non-null   object
 7   CC Security Code  3812 non-null   int64
 8   CC Provider       3812 non-null   object
 9   Email             3812 non-null   object
 10  Job               3812 non-null   object
 11  IP Address        3812 non-null   object
 12  Language          3811 non-null   object
 13  Purchase Price    3811 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 417.1+ KB

In [12]:
data['Purchase Price'].max()

99.99

In [13]:
data['Purchase Price'].min()

0.0

In [14]:
data['Purchase Price'].avg()

AttributeError: 'Series' object has no attribute 'avg'

In [15]:
data['Purchase Price'].mean()

50.30394647074259

In [16]:
data.groupby('Language').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
de,455,455,455,455,455,455,455,455,455,455,455,455,455
el,407,407,407,407,407,407,407,407,407,407,407,407,407
en,416,416,416,416,416,416,416,416,416,416,416,416,416
es,425,425,425,425,425,425,425,425,425,425,425,425,425
fr,453,453,453,453,453,453,453,453,453,453,453,453,453
it,426,426,426,426,426,426,426,426,426,426,426,426,426
pt,412,412,412,412,412,412,412,412,412,412,412,412,412
ru,418,418,418,418,418,418,418,418,418,418,418,418,418
zh,399,399,399,399,399,399,399,399,399,399,399,399,399

In [17]:
groupby('Language').count()

NameError: name 'groupby' is not defined

In [18]:
data['Lot'].groupby('Language').count()

KeyError: 'Language'

In [19]:
data.groupby('Language').count('Purchase Price')

TypeError: GroupBy.count() takes 1 positional argument but 2 were given

In [20]:
data.groupby('Language').sum('Purchase Price')

                  Credit Card  CC Security Code  Purchase Price
Language
de        1070789982655623020            401073        23242.20
el         917657885639883327            381998        20510.37
en         958134451979808170            388675        20867.68
es        1055054724966711282            400780        20844.44
fr        1035841512507363045            377820        21862.10
it        1017050892622361939            384114        21621.72
pt         967937449491927323            334894        21325.22
ru         969504867601387964            383850        21186.22
zh         920222221772375506            313184        20248.39

In [21]:
data['Language'].groupby('Language').count()

KeyError: 'Language'

In [23]:
data['Language'].value_counts().sort_values(ascending=False)

Language
de    455
fr    453
it    426
es    425
ru    418
en    416
pt    412
el    407
zh    399
Name: count, dtype: int64

Address             212
Lot                 212
AM or PM            212
Browser Info        212
Company             212
Credit Card         212
CC Exp Date         212
CC Security Code    212
CC Provider         212
Email               212
Job                 212
IP Address          212
Language            212
Purchase Price      212
dtype: int64

In [32]:
data['Job'].str.contains('engineer', case=False).value_counts()

Job
False    3423
True      389
Name: count, dtype: int64

In [34]:
data[data['IP Address']=="132.207.160.22"]['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

In [35]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [46]:
data[(data['CC Provider']=="Mastercard")&(data['Purchase Price']>50)].count()

Address             176
Lot                 176
AM or PM            176
Browser Info        176
Company             176
Credit Card         176
CC Exp Date         176
CC Security Code    176
CC Provider         176
Email               176
Job                 176
IP Address          176
Language            176
Purchase Price      176
dtype: int64

In [42]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
41,"779 Sydney Keys Apt. 119\nAnthonyside, NH 2179...",21 lh,PM,Mozilla/5.0 (Windows; U; Windows 98) AppleWebK...,Scott-Fuller,4547562019036152,08/20,716,Mastercard,kimberlygaines@yahoo.com,Tax inspector,246.108.171.137,ru,23.06

In [44]:
df[df['Purchase Price']>50]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
90,"431 Bowen Lights\nFergusonborough, MH 01362",31 tG,AM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,Copeland-Lee,639032576097,06/18,868,Mastercard,nrogers@brown.com,"Teacher, English as a foreign language",153.188.13.203,es,78.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3693,"9422 Michael Loaf Apt. 258\nColinville, ID 207...",36 uV,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,"Miles, Harrington and Hernandez",345114026248586,02/18,5450,Mastercard,julianmoore@knight.com,Haematologist,190.246.244.153,de,99.66
3741,Unit 6500 Box 8386\nDPO AP 56519-4129,10 oR,AM,Opera/8.43.(X11; Linux x86_64; it-IT) Presto/2...,Mclean-Campbell,869956895813346,12/19,36,Mastercard,owalker@jenkins.info,Fish farm manager,243.215.25.147,de,75.67
3770,"5145 Austin Shoals Suite 297\nLake William, NY...",01 vY,AM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Pope-Tucker,6011426234981778,09/20,875,Mastercard,richard38@padilla-sullivan.org,Sports development officer,222.107.138.227,zh,87.53
3776,"697 Mckee Row\nKatieville, DE 77945-1867",38 fB,AM,Opera/8.78.(X11; Linux i686; sl-SI) Presto/2.9...,"Lucas, Jackson and Jones",5270627782196622,04/23,937,Mastercard,amandahenderson@moore.com,Herbalist,164.137.228.199,el,67.71
3789,"559 Hahn Road Apt. 860\nAaronville, MP 30305",66 Ci,PM,Mozilla/5.0 (Windows 95; en-US; rv:1.9.2.20) G...,"Cardenas, Leblanc and Clark",5383052010583638,08/19,415,Mastercard,smithcrystal@smith-davis.biz,"Scientist, research (maths)",208.66.46.21,it,63.55

In [58]:
def fun():
   lst=list()
   y=0
   g=0
   h=0
   for email in data['Email']:
      org=email.split('@')[1]
      domain=org.split('.')[0]
      lst.append(domain)
   for name in lst:
      if name=="yahoo":
         y=y+1
      elif name=="gmail":
         g=g+1
      elif name=="hotmail":
         h=h+1
      else:
         continue
   print("there are", y, "yahoo mails")
   print("there are", g, "gmail mails")
   print("there are", h, "hotmail mails")

In [59]:
fun()

there are 647 yahoo mails
there are 585 gmail mails
there are 635 hotmail mails

In [60]:
len(data[data['CC Exp Date'].apply(lambda x:x[3:]=='20')])

361

In [65]:
list1=list()
for email in data['Email']:
   org=email.split('@')[1]
   domain=org.split('.')[0]
   list1.append(domain)

In [66]:
data['domain']=list1

In [67]:
data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,domain
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,yahoo
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,reed
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,morales-harrison
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,olson-robinson
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,gmail

In [69]:
data.groupby(

3812

In [70]:
data.groupby('Language').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,domain
Language,,,,,,,,,,,,,,
de,455,455,455,455,455,455,455,455,455,455,455,455,455,455
el,407,407,407,407,407,407,407,407,407,407,407,407,407,407
en,416,416,416,416,416,416,416,416,416,416,416,416,416,416
es,425,425,425,425,425,425,425,425,425,425,425,425,425,425
fr,453,453,453,453,453,453,453,453,453,453,453,453,453,453
it,426,426,426,426,426,426,426,426,426,426,426,426,426,426
pt,412,412,412,412,412,412,412,412,412,412,412,412,412,412
ru,418,418,418,418,418,418,418,418,418,418,418,418,418,418
zh,399,399,399,399,399,399,399,399,399,399,399,399,399,399

In [71]:
data.groupby('domain').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
domain,,,,,,,,,,,,,,
acevedo-pena,1,1,1,1,1,1,1,1,1,1,1,1,1,1
adams,6,6,6,6,6,6,6,6,6,6,6,6,6,6
adams-garcia,1,1,1,1,1,1,1,1,1,1,1,1,1,1
aguilar,4,4,4,4,4,4,4,4,4,4,4,4,4,4
aguilar-nelson,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
young,4,4,4,4,4,4,4,4,4,4,4,4,4,4
young-cole,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zavala,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zhang,1,1,1,1,1,1,1,1,1,1,1,1,1,1
zimmerman-clark,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [72]:
data["domain"].value_counts().sort_values(ascending=False)

domain
yahoo              647
hotmail            635
gmail              585
smith               27
jones               20
                  ...
farmer-bates         1
moore-bell           1
smith-chavez         1
hartman              1
pineda-buchanan      1
Name: count, Length: 1223, dtype: int64